// 颜色定义规范
$color-background = #222
$color-background-d = rgba(0,0,0,0.3)
$color-background-dd = rgba(0,0,0,0.7)
$color-background-highlight = #333
$color-background-dialog = #666
$color-theme = #ffcd32
$color-theme-d = rgba(255,205,49,0.5)
$color-sub-theme = #d93f30
$color-text = #fff
$color-text-d = rgba(255,255,255,0.3)
$color-text-l = rgba(255,255,255,0.5)
$color-text-ll = rgba(255,255,255,0.8)


// 字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px
// 定义border
$border-1px = 1px solid #444

//player播放定义
$background-url-player = 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAACW0lEQVRIS7WVS6iNYRSGn4cjSq4lynVABkhkIMauicOAwtSRJIkpMmKk3MllIgNRBkQht6FcwkgUxUAhdFKuLa3Tv0/7/Gf/e58zsGpP9r++71nvWutbS/6z2Zf7I2IMsBCYCnwC7qtv+nK2KSAiZgB7gWXAEyCAkcC0AnQTuKDeq4I1BETEMOAAsA44AhxVP9cuiYg8NxdYDWwFXgNr1HdlUC9ARMwBrgEXgd3q92apiIihwGlgMbBIfVrv3wMQEeOAdNivHu5LjtOnUHQWWArMVj/WzpYBl4A2NaX3yyJiQKG8U83Udlk3ICJmAQ+BSfUR9IcSEeOBV8B89XkZcBAYrGbRellEtAN31W8tanIM+KHuLANeAtvUbL1GgOtAtm17uZD1zhGxBDisTu8GFEX6C4xWvzYB5Hv4CexQT1T4jQKypQeqXf2cXTAWeK8OqpIfEakgATW7DGxQf5XPRMRvYKL6oQYYDmTkWYP8WJWiGiBVbFdPNbi8DUjoCLWzvos6gTlqvspmgJxBq9QXFX45r56qOQ16tOlV4IZ6vAkg1W3MyJqkMrtwibqyDNgEbFbnVUVWpa7URY+Ak+qZMmAIkPJ3qReqImz2f0SsB/YAM9U/PQBFN60FcqYsqMpxk9TkK34MrFBTRZc1mqZbgH3ZkmoeaGkRMQW4AhxUz9cfqNoHy4FzwKFiFzQsakRke2dR89eh5lvpYZUbLSImZ0TFCL4DPCgWy5dCeQbRAdwu3sT7RlJb7uSImJCLJOd8sZOzeG+BZ8AtteHFlTVomfB+OrRU0M/7ern/A/Lp9BlSHUbtAAAAAElFTkSuQmCC'
$background-url-rj = 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAApUlEQVQoU43QMWpCYRBF4XMEUSxdgYW4hfSuwR0IdhZWNlFJIARCegm4ATeRPitImdbCysoicOUP8ni8IDjdMN/MwJU7y6ZLMgTa6nd9VsEkfeAN+AJ+gQfgUT2WhTp8BZ7Ucxkk6V77ZQWT9IAXdVF/l+QdeFZPfxeTTIGBumrADXBQP0zSAXbAj7puwNKPgFmBLeAT2Kr7BpwAc2D8L55bsd4NL5QrOBI+iklTAAAAAElFTkSuQmCC'